
/*MAIN STYLES*/
html {
  margin:0;
  background-color:#F9EBF9;
  font-size: 16px;
  font-family: 'Barlow', Sans-serif;
  height: 100%;
  }
  body{
      max-width: 1080px;
      margin: 0 auto;
      height:100%;
      display: flex;
      flex-direction: column;
  }
  
  h1,h2,p{
      color:#82071B;
  }
  
  main{
     flex-grow: 1; 
  }
  h1{
      font-size: 2.6rem;
     padding-left: 85px;
  }
  
  h2{
      font-size: 2rem;
      
  }
/* -------------------------------------------------- */
/* FOOTER */
  .footer{
      border-top: 2px solid;
     border-image: linear-gradient(to right,#F9EBF9, #F9EBF9,#82071B,#F9EBF9,#F9EBF9) 1;
     display: flex;
     justify-content: center;
     height: fit-content;
  }
  
  footer p {
      color:#82071B;
      font-size: 0.8rem;
      line-height: 0.8rem;
      
  }
  
/* -------------------------------------------------- */
/*NAVIGATION BAR*/
nav{
   border-bottom: 2px solid;
    border-image: linear-gradient(to right,#F9EBF9, #F9EBF9,#82071B,#F9EBF9,#F9EBF9) 1;
}
nav li{
    display: inline;
    list-style: none;
    font-size: 2rem;
    
}
nav li a{
    text-decoration: none;
    padding-left: 20px;
    color:#82071B;
    font-size: 1.5rem;
}


nav ul{
    padding-left: -30px;
}
#nav{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: center;
}
#theme{
    position: absolute;
    right:300px;
    top: 30px;
    font-weight: lighter;
}
#dark{
    display:inline;
}
#light{
    display:none;
}
/* ----------------------------------------------------------------------------------- */
/* Making a toggle Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 16px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:#82071B;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #82071B;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
 /* --------------------------------------------------- */
 /* contact img */

 .img-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
 }

 .logo{
  max-width: 108px;
  height: auto;
  margin: 16px 20px 16px 0;
  
 }

 .container{
  display: grid;
  grid-template-columns: 
  [left] 2fr
  [right] 3fr;
  grid-gap: 20px;
  
}
}
#left{
grid-column: left;
}
#right{
grid-column: right;
}
/* -----------------------------------------------------*/
/* FORMS */
 form{
  color:#82071B;
 
 }

 #right > p, label, input{
  margin: 1rem 0 1rem 0;
 }

 .button{
  margin-left: 20px;
} 

input, textarea{
  border: solid 1px #82071B;
}

.button{
  color:#82071B;
}
