
/*MAIN STYLES*/
html {
  margin:0;
  background-color:#F9EBF9;
  font-size: 16px;
  font-family: 'Barlow', Sans-serif;
  height: 100%;
  }
  body{
      max-width: 1080px;
      margin: 0 auto;
      height:100%;
      display: flex;
      flex-direction: column;
  }
  
  h1,h2,p{
      color:#82071B;
  }
  
  main{
     flex-grow: 1; 
  }
  h1{
      font-size: 2.6rem;
     padding-left: 85px;
  }
  
  h2{
      font-size: 2rem;
      
  }
/* -------------------------------------------------- */
/* FOOTER */
  .footer{
      border-top: 2px solid;
     border-image: linear-gradient(to right,#F9EBF9, #F9EBF9,#82071B,#F9EBF9,#F9EBF9) 1;
     display: flex;
     justify-content: center;
     height: fit-content;
  }
  
  footer p {
      color:#82071B;
      font-size: 0.8rem;
      line-height: 0.8rem;
      
  }
  
/* -------------------------------------------------- */
/*NAVIGATION BAR*/
 /* nav bar for mobile view*/
 #nav-mobile{
  display: none;
}
/* nav bar desktop view */
nav{
   border-bottom: 2px solid;
    border-image: linear-gradient(to right,#F9EBF9, #F9EBF9,#82071B,#F9EBF9,#F9EBF9) 1;
}
nav li{
    display: inline;
    list-style: none;
    font-size: 2rem;
    
}
nav li a{
    text-decoration: none;
    padding-left: 20px;
    color:#82071B;
    font-size: 1.5rem;
}


nav ul{
    padding-left: -30px;
}
#nav{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: center;
}
#theme{
    position: absolute;
    right:300px;
    top: 30px;
    font-weight: lighter;
}
#dark{
    display:inline;
}
#light{
    display:none;
}
/* ----------------------------------------------------------------------------------- */
/* Making a toggle Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 16px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:#82071B;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #82071B;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
 /* --------------------------------------------------- */
 /* contact img */

 .img-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
 }

 .logo{
  max-width: 108px;
  height: auto;
  margin: 16px 20px 16px 0;
  
 }

 .container{
  display: grid;
  grid-template-columns: 
  [left] 2fr
  [right] 3fr;
  grid-gap: 20px;
  
}

#left{
grid-column: left;
}
#right{
grid-column: right;
}
/* -----------------------------------------------------*/
/* FORMS */
 form{
  color:#82071B;
 
 }

 #right > p, label, input{
  margin: 1rem 0 1rem 0;
 }


input, textarea{
  border: solid 1px #82071B;
}

.button{
  color:#82071B;
}
/* ------------------------------------------ */
/* Media queries*/

@media only screen and (max-width: 1330px) {
  #theme{
    display: none;
}

main{
  padding: 0 1rem 0 1rem;
 
}

#contact{
  text-align: center;
}

.container{
  display: flex;
  width: 100%;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}


}
/* --------------------------------- */
@media only screen and (max-width: 950px) {
  .container{
    flex-direction:column;
    
  }
}
/* -------------------------------- */
@media only screen and (max-width: 500px) {

  main{
    padding-top: 50px;
  }
#nav{
  display: none;
}
#h1-name{
  display: none;
 }

#nav-mobile{
  display: inline;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

#name-navbar{
  color: #82071B;
  font-weight: bold;
  font-size: 1.8rem;
  margin: 0;
  line-height: 60px;
  padding-right: 8px;
  text-align: right
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px #82071B;
  background-color: #F9EBF9;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color:#82071B;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}
/* ------------------------------- */
/* hammburger menu */
.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 10px;
  left: 10px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 15px;
  left: 10px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background:#82071B;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  background-color: #eed5e4;
  height: 100vh;
  width: 60%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
 justify-content: flex-start;
 position: absolute;
 top:0;
}

.navbar .menu-items a {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
}


/* hamburger menu transformation when clicked */
.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .nav-logo{
  display: none;
}
}