
/*purpura (letras) #523857
violeta claro (fondo) #F9EBF9
morado (letras y lineas etc) #82071B*/

/*MAIN STYLES*/
html {
margin:0;
background-color:#F9EBF9;
font-size: 16px;
font-family: 'Barlow', Sans-serif;
}
body{
    max-width: 1080px;
    margin: 0 auto;
}

h1,h2,p{
    color:#82071B;
}

h1{
    font-size: 3.5rem;
}


/*NAVIGATION BAR*/
nav{
    box-sizing: border-box;
    border-bottom: 2px, solid #82071B;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
}

nav li{
    display: inline;
    list-style: none;
    color:#82071B;
    font-size: 2rem;
    
}
nav li a{
    text-decoration: none;
    
}
#nav{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    }

#theme{
    position: absolute;
    right:300px;
    top: 10px;
    font-weight: lighter;
}

#dark{
    display:none;
}

#light{
    display:inline ;
}