
/*purpura (letras) #523857
violeta claro (fondo) #F9EBF9
morado (letras y lineas etc) #82071B*/

/*MAIN STYLES*/
html {
margin:0;
background-color:#F9EBF9;
font-size: 16px;
font-family: 'Barlow', Sans-serif;
}
body{
    max-width: 1080px;
    margin: 0 auto;
}

h1,h2,p{
    color:#82071B;
}

main{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}
h1{
    font-size: 3.5rem;
    
}


/*NAVIGATION BAR*/
nav{
   border-bottom: 2px solid;
    border-image: linear-gradient(to right,#F9EBF9, #F9EBF9,#82071B,#F9EBF9,#F9EBF9) 1;
}
nav li{
    display: inline;
    list-style: none;
    font-size: 2rem;
    
}
nav li a{
    text-decoration: none;
    padding-left: 20px;
    color:#82071B;
    font-size: 1.5rem;
}

/* Para tratar de centrar los links del navegador? */
nav ul{
    padding-left: -30px;
}
#nav{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: center;
}
#theme{
    position: absolute;
    right:300px;
    top: 30px;
    font-weight: lighter;
}
#dark{
    display:inline;
}
#light{
    display:none ;
}